venv
.git
__pycache__
*.pyc
*.pyo
*.egg-info/
*.egg
*.log
*.swp
*.swo
*.sqlite3
*.db
*.db-journal
*.bak
*.tmp
*.csv
*.xlsx
*.xls
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.gz
*.tar
*.zip
*.bz2
*.7z
.dockerignore
.env
.env.*
.idea/
/staticfiles/
/static/
/media/
__pycache__/

