# settings.py
SECRET_KEY=somestr
DEBUG=True
ALLOWED_HOSTS=*
# База данных
DATABASE=sqlite
POSTGRES_USER=user_server
POSTGRES_PASSWORD=somestr
POSTGRES_DB=news_weather_db
DB_HOST=somestr
DB_PORT=5432
# Погода
WEATHER_API_KEY=somestr
# Почта
EMAIL_SENDER=example@yandex.ru
EMAIL_HOST_USER=example@yandex.ru
EMAIL_HOST_PASSWORD=somestr
